# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.gradle
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN
.recommenders/*
*.classpath
bin/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/.metadata/

# To avoid leaking secrets
AttendanceService/src/config.yml
signing/*/*
signing/*/*
!signing/*/*.enc
!signing/*/*.enc
!signing/*/*.sh

# For back-end development with an IDE other than Eclipse
.project
target
.factorypath
AttendanceService/.settings/org.eclipse.jdt.core.prefs
AttendanceService/.settings/org.eclipse.jdt.apt.core.prefs

